In [1]:
import glob
import os
import numpy as np
import pandas as pd
import re

# get file paths in a list
files = glob.glob('./rec_images/*.jpeg')
files = [int(os.path.basename(file).split('.')[0]) for file in files]
files.sort()

In [2]:
labels = pd.read_csv('labels.csv')
labels.head()

                 picture
0  picture = 1 label = 0
1  picture = 2 label = 0
2  picture = 3 label = 0
3  picture = 4 label = 0
4  picture = 5 label = 0

In [3]:
result = np.array(list(labels.picture.str.findall('(\d+)')))

print(result)

[['1' '0']
 ['2' '0']
 ['3' '0']
 ...
 ['6169' '4']
 ['6170' '4']
 ['6171' '4']]

In [4]:
df = pd.DataFrame(
result,
columns=['pictures', 'labels'])

In [5]:
# convert each cell to int type
def convert_to_int(val):
    return int(val)

In [6]:
temp_df = df.applymap(convert_to_int)

In [7]:
uncorrupted_files = df[temp_df['pictures'].isin(files)]

In [8]:
uncorrupted_files

     pictures labels
0           1      0
1           2      0
2           3      0
3           4      0
6           7      0
...       ...    ...
6163     6164      4
6164     6165      4
6165     6166      4
6167     6168      4
6169     6170      4

[4110 rows x 2 columns]

In [9]:
uncorrupted_files.to_csv('uncorrupted_files.csv', sep=',', encoding='utf-8', index=False)